@import "stylesheet.css" screen;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background-color: #f7f9fa;
}

.section1 {
    background-image: url("../img/BG1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.logo{
    padding-top: 26px;
    margin-bottom: 107px;
}

.header{
margin-bottom: 32px;
} 

.blog{
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 11px;
}

.icon1{
    margin-top: 290px;
    /* margin-top: auto; */
    /* margin-bottom: 98px; */

}
.sectionWhite {
    background-color: #f7f9fa;
}

.sectionWhite1{
    background-color: #f7f9fa;
    height: auto;
}

.title{
    padding-top: 70px;
    color: #3e3362;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.18px;
}

.icon2{
    margin-top: 23px;
    margin-bottom: 34px;
}

.texty{
    color: #3e3362;
    font-family: 'Raleway Light';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 25.33px;
}

.card{
    background-color: #f7f9fa;
}

.button1{
    color: #3e3362;
    font-family: 'Raleway Bold' ;
    margin-top: 65px;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 67px ;
    letter-spacing: 0.7px;

}

.btn1{
    color: #3e3362;
    width: 196px;
    height: 48px;
    font-family: 'Raleway Bold', sans-serif;
    font-size: 18px;
    font-weight: 400;
    border-radius: 2px;
    border: 4px solid #3e3362;
    background-color: #ffffff;
}

.content1 {
    background-image: url(../img/BG2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.sec {
    position: relative;
}

.article{
    margin-left: 215px;
    width: 359px;
    
}

.iconLayers{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -33px;
    margin-top: -118.5px ;
}

.content2 img {
    width: 100%;
}



.title1{
    padding-top: 161px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.18px;

}

.textOpacity{
    margin-top: 21px;
    margin-bottom: 53px;
    opacity: 0.2;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.12px;
}

.textWhite{
    color: #ffffff;
    font-family: 'Raleway Light';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 25.33px;
}

.sectionWhite{
    height: 325px;
    background-color:#f7f9fa;
}

.grid {
    background-color: rgb(102, 60, 60);
}

.rec{
    position: relative;
}
.rectangle{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -44px;
    margin-left: -43.5px;
}

.icon{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -15px;
    margin-left: -11px;
}
.section4 {
    background-image: url(../img/BG3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.button2{
    color: white;
    font-family: 'Raleway Bold' ;
    margin-top: 65px;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 97px ;
    letter-spacing: 0.7px;
    
}

.btn2{
    color: white;
    width: 196px;
    height: 48px;
    font-family: 'Raleway Bold', sans-serif;
    font-size: 18px;
    font-weight: 400;
    border-radius: 2px;
    border: 4px solid white;
    background-color: #3b2f5a;
    
}

.title3{
    padding-top: 94px;
    margin-bottom: 42px;
    color: #fefeff;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.sectionlast {
    background-color: #2f274b;
    
    
}

.footer{
    height: 72px;
}



.footerLast{
    background-color: #2b2344;
    height: 30px;
}